.sinpro{
    width: 1500px;
    height: auto;
    margin: 0 auto;
}
.sing{
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    /* border: 1px solid; */
    position: relative;
}
.sing img{
    width: 750px;
    height: 700px;
    padding-left: 50px;
}
.sing h2{
    position: absolute;
    left: 800px;
    top: 50px;
    font-size: 50px;
}
.sing h3{
    color: rgba(59, 183, 126, 1);
    font-size: 50px;
    position: absolute;
    top: 250px;
    left: 800px;
}
.sing p{
    position: absolute;
    top: 380px;
    left: 800px;
    font-size: 30px;
    width: 600px;
}